<div class="mt-8 rounded-md bg-yellow-50 p-4 text-sm">
  <div class="flex">
    <div class="ml-3">
      <h3 class="font-medium text-yellow-800">
        AN IMPORTANT NOTE TO EXISTING SUBSCRIBERS
      </h3>
      <div class="mt-2 text-yellow-700">
        <p>The 2022 street sweeping schedules are now live. Please note that last year's alert subscriptions do not carry over. You must resubscribe to receive alerts this year.</p>
      </div>
    </div>
  </div>
</div>