<div class="mt-8 text-xs text-gray-400">
  <p class="font-medium text-gray-500 mb-0.5"><%= @note_header %></p>
  <p><%= sanitize @note, tags: %w[a br strong], attributes: %w[href target rel class] %></p>
</div>
