<div class="flex-1 w-full flex items-center justify-center min-h-[80vh]">
  <div class="max-w-2xl mx-auto p-8 text-center">
    <%= image_tag "logo.png", class: "inline-block max-w-[280px] sm:max-w-md", alt: "#{ENV["SITE_NAME"]} logo" %>
    <div class="mt-5 mb-8">
      <%= render "shared/flash" %>
      <%= render "search/form" %>
    </div>
    <div class="grid grid-cols-3 gap-4 text-xs text-gray-500 max-w-sm mx-auto">
      <div class="flex flex-col items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
        <span>Search address</span>
      </div>
      <div class="flex flex-col items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>
        <span>Get schedule</span>
      </div>
      <div class="flex flex-col items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
        <span>Get alerts</span>
      </div>
    </div>
    <%= render "important_note" %>
  </div>
</div>
