<p>Hello,</p>

<p>
  We've just updated the Chicago street sweeping schedules for the <%= Time.current.year %> season, and wanted to let you know that your subscription for <strong><%= @area.name %></strong> has been canceled. (This is because your subscription did not have a specific street address, and because the City's sweeping areas often change from year to year.)
</p>

<p>
  If you'd like to continue receiving alerts for this (or another) area, <%= link_to "please visit our website and re-subscribe", @home_url %>.
</p>

<p>
Cheers,<br />
<%= ENV["SITE_NAME"] %>
</p>
