<p>Hello,</p>

<p>
  You are receiving this email because sometime in the past year you subscribed to Chicago street sweeping alerts on 
  <a href="https://sweeparound.us">SweepAround.Us</a>.
</p>

<p><strong>I am writing today to let you know that the 2022 street sweeping schedule is now live.</strong></p>

<p>
  In order to receive street sweeping notifications for 2022, you must visit <a href="https://sweeparound.us">SweepAround.Us</a> and sign up for alerts, even if you had previously done so. <strong>Street sweeping alerts do not carry over from year to year. Your existing subscriptions were deleted as of 2PM CDT today.</strong>
</p>

<p>
Cheers,<br />
SweepAround.Us
</p>

