<div class="flex-1 items-center justify-center text-center lg:flex">
  <div class="my-8">
    <div class="text-xl">
      <% if @alert %>
        Thank you for confirming your subscription.
      <% else %>
        I'm sorry, we could not find your subscription.
      <% end %>
    </div>
  </div>
</div>
