<div class="flex-1 items-center justify-center text-center lg:flex">
  <div class="my-8">
    <%= image_tag "logo.png", alt: "#{ENV["SITE_NAME"]} logo", class: "mb-2 w-96 mx-auto" %>
    <div class="text-xl">
      <% if @alert %>
        Thank you for confirming your subscription.
      <% else %>
        I'm sorry, we could not find your subscription.
      <% end %>
    </div>
  </div>
</div>
