<%= turbo_stream.replace "subscriptions-wrapper",
      partial: "subscriptions/subscriptions",
      locals: { pending: @pending_alerts, active: @active_alerts, total_count: @alerts.size, token: @token } %>

<%= turbo_stream.replace "add-subscription-flash" do %>
  <div id="add-subscription-flash">
    <%= render "shared/flash" %>
  </div>
<% end %>
